{% extends "main.html" %}

{% block content_main %}
	<div style= "width: 95%; text-align: justify; margin: auto;">
		<h1 style="text-align: center"> What are antibiotics? </h1>
		<br>
		<h4 style="text-align: center">Antibiotics are a common medication that doctors prescribe to fight bacteria.
		Antibiotics are powerful medicines that fight certain infections and can save lives when used properly. They 			either stop bacteria from reproducing or destroy them.

		Before bacteria can multiply and cause symptoms, the immune system can typically kill them. White blood cells (WBCs) 		attack harmful bacteria and, even if symptoms do occur, the immune system can usually cope and fight off the infection.

	Sometimes, however, the number of harmful bacteria is excessive, and the immune system cannot fight them all. Antibiotics 		are useful in this scenario.</h4><br>



	<h1 style="text-align: center"> Resistance </h1><p>
	<h3 style="text-align: center"> Some medical professionals have concerns that people are overusing antibiotics. They also believe that this overuse 		contributes toward the growing number of bacterial infections that are becoming resistant to antibacterial medications.
	</h3></p>
	</div>

{% endblock %}
